a#view-source.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent.mdl-color-text--accent-contrast(href='#', target='_blank', data-upgraded=',MaterialButton,MaterialRipple')
  | Participate in Study
  span.mdl-button__ripple-container
    span.mdl-ripple.is-animating(style='width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(54px, 20px);')
