header.demo-header.mdl-layout__header.mdl-layout__header--scroll
  .mdl-layout__header-row
    span.mdl-layout-title Sentence Construction
    .mdl-layout-spacer
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href='/') Home
      a.mdl-navigation__link(href='#') About
.mdl-layout__drawer
  nav.mdl-navigation
    a.mdl-layout-title.mdl-navigation__link(href='/') Home
  nav.mdl-navigation
    span.mdl-layout-title(style='margin: 16px 40px') Tenses
    a.mdl-navigation__link(href='/present') Present
    a.mdl-navigation__link(href='/past') Past
    a.mdl-navigation__link(href='/future') Future
.demo-ribbon
