doctype html
html
  head
    meta(charset='utf-8')
    title Basic JSON Editor
    // Foundation CSS framework (Bootstrap and jQueryUI also supported)
    link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css')
    // Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported)
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css')
    script(src='jsoneditor.min.js')
    script.
      // Set the default CSS theme and icon library globally
      JSONEditor.defaults.theme = 'foundation5';
      JSONEditor.defaults.iconlib = 'fontawesome4';
  body
    h1 Basic JSON Editor
    #editor_holder
    button#submit Submit (console.log)
    script.
      var data = !{data}
    script(src='editor.js')
